@{ ViewData["Title"] = "About"; }
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<audio controls preload="none">
    <source src="/api/streaming/earth" type="audio/wav">
</audio>

<br>
<a href="/api/streaming/b6b9ba73-293c-46ae-bd7d-2ea23ecb5e1c" target="_new">Open URL</a>
<br>
<a href="/api/streaming/e12ec602-9ab7-4999-9506-1e996f9d6eb2" target="_new">Open URL</a>