@{
    ViewData["Title"] = "Contact";
}
<!-- <h2>@ViewData["Title"]</h2> -->
<!-- <h3>@ViewData["Message"]</h3> -->

<p><em>Per Ivar Nerseth&nbsp;<a href="mailto:perivar@nerseth.com">perivar@nerseth.com</a></em></p>