@{
    ViewData["Title"] = "Home Page";
}

<table id="data" class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">header2</th>
            <th scope="col">header3</th>
            <th scope="col">header4</th>
            <th scope="col">header5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>data</td>
            <td>data</td>
            <td>data</td>
            <td>data</td>
        </tr>
    </tbody>
</table>

<div id="edit">
    <form>
        <div class="form-inline mb-2">
            <input type="text" class="form-control mr-2" id="editRowText" placeholder="To edit...">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </form>
</div>

<input type="button" id="goto_first" class="btn btn-primary btn-sm" value="first">
<input type="button" id="goto_prev" class="btn btn-primary btn-sm" value="prev">
<input type="button" id="goto_next" class="btn btn-primary btn-sm" value="next">
<input type="button" id="goto_last" class="btn btn-primary btn-sm" value="last">


@section Scripts { 
    @* 
    http://jsfiddle.net/x4qvU/
    https://jsfiddle.net/bsacheri/gsh7nw5f/7/
    http://codippa.com/how-to-highlight-a-table-row-on-click/
    https://gist.github.com/josheinstein/5092789
    https://gist.github.com/lsmith/2244450
    *@

<script type="text/javascript">

// hide edit area
$('#edit').hide();
var editing = false;

function highlightRow(tableRowIndex) {
    
    // just a simple check. If .table-active has reached the last, start again
    if (tableRowIndex < 0  || (tableRowIndex + 1) > $('#data tbody tr').length )
        tableRowIndex = 0;    
    
    // does element exists?
    if($('#data tbody tr:eq('+tableRowIndex+')').length > 0)
    {
        // remove other highlightRows
        $('#data tbody tr').removeClass('table-active');
        
        // highlightRow your target
        $('#data tbody tr:eq('+tableRowIndex+')').addClass('table-active');
    }
}

$('#goto_first').click(function() {
    highlightRow(0);
});

$('#goto_prev').click(function() {
    highlightRow($('#data tbody tr.table-active').index() - 1);
});

$('#goto_next').click(function() {
    highlightRow($('#data tbody tr.table-active').index() + 1);
});

$('#goto_last').click(function() {
    highlightRow($('#data tbody tr:last').index());
});


// Show edit box
function edit() {
    editing = true;
    $('#edit').show();

    var tableRowIndex = $('#data tbody tr.table-active').index();
    if (tableRowIndex < 0  || (tableRowIndex + 1) > $('#data tbody tr').length )
        tableRowIndex = 0;    
    
    // ensure the target is highlightRowed
    $('#data tbody tr:eq('+tableRowIndex+')').addClass('table-active');

    $('#edit #editRowText').val(tableRowIndex);
    $('#edit #editRowText').select();
}

// user saves edits
$('#edit form').submit(function (e) {
    editing = false;
    e.preventDefault();

    // Ajax to update value in database
    $.get('#', '', function () {
        $('#edit').hide();
        alert('Saving ' + $('#edit #editRowText').val());
    });    
});

// user can cancel edit by pressing escape
$('#edit').keydown(function (e) {
    if (editing && e.which == 27) {
        editing = false;
        $('#edit').hide();
    }
});

// handle key presses
$(document).keydown(function (e) {
    
    if (!editing) {
        e.preventDefault();
        switch(e.which) 
        {        
            case 38:
                // up arrow
                $('#goto_prev').trigger('click');
                break;
            case 40:
                // down Arrow
                $('#goto_next').trigger('click');
                break;
            case 13:
                // enter
            case 32:
                // spacebar
            case 113:
                // F2
                edit();
                break;
        }
    }
 });

// attach an onclick event handler to the table rows 
$('#data tbody tr').click( function() {
    editing = false;
    $('#edit').hide();
    highlightRow(($(this).index()));
});
  
</script>
}